:root {
	--plyr-color-main: #ff6714;
	--plyr-audio-control-color: #ffffff;
	--plyr-audio-controls-background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.75));
	--plyr-audio-progress-buffered-background: rgba(255,255,255,.25);
}

.plyr {
	height: 576px !important;
}

button.plyr__control--overlaid {
	display: none !important;
}

button.hidden, button.hidden {
	display: none !important;
}

.plyr-prev > .icon {
  background-image: url('../images/qm-previous.png');
  width: 18px;
  height: 18px;
  background-size: contain;
}

.plyr-next > .icon {
  background-image: url('../images/qm-next.png');
  width: 18px;
  height: 18px;
  background-size: contain;
}

.plyr--fullscreenAudio,
.plyr--fullscreenAudio .plyr__video-wrapper,
.plyr--fullscreenAudio video {
	background: transparent !important;
}